@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

html {
  background-color: rgb(234, 234, 234);  
}

body {
  padding: 2rem 1rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Delicious Handrawn', cursive;

  font-size: 3rem;
  margin-bottom: 2rem;
  color: rgb(97, 32, 158);
}

form {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 90%;
}



h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(92, 92, 92);
  position: relative;
}

h3::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  border: 1px solid rgb(97, 32, 158);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cardsContainer {
  width: 100%;
  padding-top: 1.5rem;
  border-radius: 1rem;
  border-top: 1px solid rgb(97, 32, 158);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.cardsTitle {
  display: flex;
  justify-content: center;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.card p {
  background-color: white;
  word-wrap: break-word;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.card img {
  width: 25rem;
  max-width: 100%;
}


@media(min-width: 500px){
  
  h2{
    font-size: 4rem;
  }
  
  h3{
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}